/*grays */
body {
  margin: 0 auto !important;
  font-family: Roboto, sans-serif !important;
  background-color: white !important;
  padding: 40px 0px; }
  body .container-fluid.conInnerHead {
    margin-top: 191px; }

.conNav {
  margin-top: 50px !important; }

.conFooter {
  margin-bottom: 50px !important; }

.spacerDiv {
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw; }

.grayColor {
  color: #cfcfcf !important;
  fill: #cfcfcf !important; }

.hiddenItm {
  display: none !important; }

.noMxWidth {
  max-width: none !important; }

.noBrd {
  border: hidden !important; }

.btmBrd {
  border-bottom: 1px solid; }

.aquaColor {
  color: #35c9c7 !important; }

.defaultPointer {
  cursor: default !important; }

.cursorPointer {
  cursor: pointer !important; }

.myNavBar {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  box-sizing: content-box; }

.noBack {
  background-color: transparent !important; }

.form-control.myFormContr {
  background-color: transparent;
  border: hidden; }

.myFormContr {
  background-color: transparent;
  border: hidden; }

.halfPadding {
  padding: 7.5px !important; }

.noPadding {
  padding: 0px !important; }
  .noPadding.half {
    padding: 0 7.5px 0 7.5px !important; }
  .noPadding.butVertHalf {
    padding: 7.5px 0 !important; }
  .noPadding.butVertHalf13 {
    padding: 6.5px 0 !important; }

.butVertHalf {
  padding: 7.5px 0 !important; }

.butVertHalf13 {
  padding: 6.5px 0 !important; }

.NoleftP {
  padding-left: 0 !important; }
  .NoleftP.halfR {
    padding-right: 7.5px !important; }

.NorightP {
  padding-right: 0 !important; }
  .NorightP.halfL {
    padding-left: 7.5px !important; }

.dblleftP {
  padding-left: 30px !important; }

.dblrightP {
  padding-right: 30px !important; }

.NotopP {
  padding-top: 0 !important; }

.NobottomP {
  padding-bottom: 0 !important; }

.noMargin {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.NoleftM {
  margin-left: 0px !important; }
  .NoleftM.halfMR {
    margin-right: 7.5px !important; }

.NorightM {
  margin-right: 0px !important; }
  .NorightM.halfML {
    margin-left: 7.5px !important; }

.NobottomM {
  margin-bottom: 0px !important; }

.NotopM {
  margin-top: 0px !important; }

.childHeight {
  overflow: auto; }

.backImg {
  background-size: cover;
  background-position: center;
  background-clip: content-box; }
  .backImg.circ {
    border-radius: 50%; }
  .backImg.backSz {
    background-size: 85%;
    background-repeat: no-repeat; }
  .backImg.centerBackImg {
    background-position: center; }

@media(min-width 1200px) {
  .col-xs-12.noMoreGrow {
    width: 792px !important;
    margin: 0 auto !important;
    float: none !important; }

  .row-fluid.noMoreGrow {
    width: 792px !important;
    margin: 0 auto !important;
    float: none !important; }
    .row-fluid.noMoreGrow.initialForms {
      width: 1164px !important; } }

/*# sourceMappingURL=global.css.map */
